/* -------- affichage desktop -------- */
div.container-partner{
  background-image: url(./img/bg-partner.png);
  background-position:  left;
  background-repeat: no-repeat;
  height: 540px;
  div.content-partner{

    text-align: right;
    margin: 0 0 0 auto;
    width: 50%;
    padding: 150px 30px 30px 30px;
    h3.title-partner{
      color: $color-secondary;
      font-weight: 800;
      font-size: 30px;
    }
    p.text-partner{
      font-size: 16px;
      padding: 15px 0;
    }
    a.btn-decouvrir:hover{
        color: $color-secondary;
        text-decoration: none;
    }
    a.btn-decouvrir{
      font-weight: 800;
      font-size: 16px;
      padding: 10px 20px;
      border: 2px solid $color-secondary;
    }
  }
}

/* -------- affichage à partir de 992px -------- */
@media screen and (max-width: 992px){
  div.container-partner{
    padding: 350px 0 0 0;
    div.content-partner{
      background-color: $color-black;
      text-align: center;
      margin: 0;
      width: 100%;
      padding: 40px;
      p.text-partner{
        color: $color-white;
      }
      a.btn-decouvrir{
        color: $color-white;
      }
    }
  }

}
